<h1>Listing investments</h1>

<table>
  <tr>
    <th>Funding</th>
    <th>Company perma</th>
    <th>Company Id</th>
    <th>Financial perma</th>
    <th>Financial ID</th>
    <th>Individual perma</th>
    <th>Individual ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <td><%= investment.funding_id %></td>
    <td><%= investment.company_perma %></td>
    <td><%= investment.company_id %></td>
    <td><%= investment.financial_perma %></td>
    <td><%= investment.financial_id %></td>
    <td><%= investment.individual_perma %></td>
    <td><%= investment.individual_id %></td>
    <td><%= link_to 'Show', investment %></td>
    <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
    <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investment', new_investment_path %>
