<p id="notice"><%= notice %></p>

<p>
  <b>Funding:</b>
  <%= @investment.funding_id %>
</p>

<p>
  <b>Investor perma:</b>
  <%= @investment.investor_perma %>
</p>

<p>
  <b>Investor:</b>
  <%= @investment.investor_id %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
